/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';


html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  background-color: #e8e8e8;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

a:link {
  color: green;
  font-weight: bold;
}

a:visited {
  color: green;
  font-weight: bold;
}

a:hover {
  color: #C9950B;
}

.content {
  margin-left: 4%;
  margin-right: 20%;
  margin-top: -5px;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  font-family: "Lilita One", serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #e7b10a;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9
}

.nav__link:link {
  font-family: "Lilita One", serif;
  font-weight: 500;
  font-size: 17px;
  color: green;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav__link:hover {
  color: #e7b10a;
}

.is-invalid {
  color: #f40000;
}

.error__msg {
  margin-top: 7px;
  color: #f40000;
  font-size: 15px;
}

.error__submit {
  padding: 10px;
  background-color: #ff7c6e;
  color: #383838;
}

.captcha__error__msg {
  margin-top: 8px;
  font-weight: bold;
}

.loading {
  font-family: "Courier", serif;
  font-weight: bold;
}

.info__box__right {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 14px 23px;
  margin-bottom: 10px;

  font-family: Courier, serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
}

.grey__link:link, .grey__link:visited {
  color: #565959;
}

.grey__link:hover {
  color: #c6b51b;
  text-decoration-color: #c6b51b
}

.grey__link {
  font-family: "Courier", serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.01em;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #565959;
  display: block;
  cursor: pointer;
}

.major__shadow {
  box-shadow: -2.5px 4px 8px;
}

.minor__shadow {
  box-shadow: -2px 2px 3.5px dimgrey;
}

.green_title {
  text-align: center;
  text-decoration: underline;
  color: #007200;
  font-family: serif;
}

.edit__button {
  float: right;
  font-family: Courier, serif;
  font-size: smaller;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;

  margin: 4px -12px 5px 0;
}

.edit__icon {
  width: 20px;
  margin-bottom: -5px;
  margin-right: 6px;
}
