<div class="content">


  <br>

  <div id="fixed__box">

    <div class="centered" style="margin-bottom: -55px;">

      <h2 id="title">Vintage Capacitor Encyclopedia</h2>
      <p>
        The Capacitor Archive is an open resource for documenting vintage capacitors.
      </p>

    </div>
    <span>
      <img id="arrow" src="../../../assets/manufacturer-sidebar-arrow.svg" alt="">
      <app-image id="find-button" src="../../assets/find-capacitor.png" width="250px"
                 (mouseenter)="showSidebarService.change(true)"
                 (mouseleave)="showSidebarService.change(false)"
                 (click)="displayMessage()"
      ></app-image>
      <app-image id="add-button" routerLink="capacitor/create" src="../../assets/add-capacitor.png" width="250px"></app-image>
    </span>

    <div class="centered info__box__right find__message__box"
         [style.visibility]="sidebarMessageShown == null ? 'hidden' : 'visible'"
         [style.opacity]="sidebarMessageShown ? 100 : 0"
         [style.animation-name]="sidebarMessageShown ? 'show-message' : 'hide-message'"
    >
      Use the sidebar to search by manufacturer.
    </div>

    <!--ToDo add a photo of the manufacturer -> capacitor hierarchy-->
    <!--<h3>How it works</h3>-->


  </div>


</div>
