
<div class="container">
  <div id="thumb" class="search__thumbnail">
    <img alt="icon"
         [src]="typeData.thumbnailUrl || '../../../assets/no-photo-green.png'"
         (click)="router.navigate(viewCapacitorPath)">
  </div>
  <p><a id="type-name" [appRouterLink]="viewCapacitorPath">
    {{typeData.typeName}}
  </a></p>
  <p id="num-units">
    <strong>Contains:</strong><br>
    {{typeData.numberOfUnits}}<br>
    <ng-container *ngIf="typeData.lowestCapacitance || typeData.highestCapacitance">

      <ng-container *ngIf="typeData.lowestCapacitance != typeData.highestCapacitance">
        <strong>Values:</strong><br>
        {{format(typeData.lowestCapacitance)}} <strong>-</strong> {{format(typeData.highestCapacitance)}}
      </ng-container>

      <ng-container *ngIf="typeData.lowestCapacitance == typeData.highestCapacitance">
        <strong>Value:</strong><br>
        {{format(typeData.lowestCapacitance)}}
      </ng-container>

    </ng-container>
  </p>
  <p id="description"><strong>Description: </strong>{{capacitorTypeDescriptionPlainText}}</p>
  <img id="edit-icon" alt="" title="Edit" src="../../../assets/edit.svg"
       (click)="router.navigate(['/capacitor', 'edit', typeData.companyName, typeData.typeName],
       {queryParams: {only: 'type'}})">
</div>
