<div class="content">

  <div *ngIf="(only === 'type' && companyName && capacitorType) || (companyName && capacitorType && capacitorUnit); else loading">

    <ng-container *ngIf="only === 'type'; else withUnit">
      <h2>Editing Type
        <a class="highlight" [appRouterLink]="['/capacitor', 'view', companyName, capacitorType.typeName]">
          {{capacitorType && capacitorType.typeName}}
        </a>
        &nbsp;made by
        <a class="highlight" [appRouterLink]="['/manufacturer', 'view', companyName]">
          {{capacitorType && capacitorType.companyName}}
        </a>
      </h2>

      <app-capacitor-form [companyName]="companyName" [capacitorType]="capacitorType" [capacitorUnit]="capacitorUnit" [only]="only">
      </app-capacitor-form>
    </ng-container>

    <ng-template #withUnit>
      <h2>Editing a Type
        <a class="highlight" [appRouterLink]="['/capacitor', 'view', companyName, capacitorUnit.typeName]">
          {{capacitorUnit && capacitorUnit.typeName}}
        </a>
        &nbsp;Size
        <a class="highlight" [appRouterLink]="['/capacitor', 'view', companyName, capacitorUnit.typeName, capacitorUnit.value]">
          {{formattedCapacitance}}
        </a>
        made by
        <a class="highlight" [appRouterLink]="['/manufacturer', 'view', companyName]">
          {{capacitorUnit && capacitorUnit.companyName}}
        </a>
      </h2>

      <app-capacitor-form [companyName]="companyName" [capacitorType]="capacitorType" [capacitorUnit]="capacitorUnit" [only]="only">
      </app-capacitor-form>
    </ng-template>
  </div>

  <ng-template #loading>
    <h3 class="loading">Loading Data...</h3>
  </ng-template>

</div>
