<div id="wrapper">


    <app-navbar id="topbar"></app-navbar>

    <app-manufacturer-sidebar id="sidebar"></app-manufacturer-sidebar>

    <div id="views">
      <app-navigation-breadcrumb></app-navigation-breadcrumb>
      <router-outlet></router-outlet>
      <!--Routed Views go here-->
    </div>

</div>

<app-bottom-bar id="bottombar"></app-bottom-bar>
