html, body {
  height: 100%;
  margin: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: 210px auto;
  grid-template-rows: auto auto;

  align-content: start;

  min-height: calc(100vh - 55px);   /*For app-bottom-bar*/
}

#topbar {
  grid-column: 1 / -1;
  grid-row: 1;
}

#sidebar {
  grid-column: 1;
  grid-row: 2;
}

#views {
  grid-column: 2;
  grid-row: 2;

  overflow: hidden;
}
