
<div [ngStyle]="disabledStyle" style="min-height: 350px"> <!--This min-height should be the same as Quill's height + 100px-->

  <mat-tab-group [selectedIndex]="selectedTabIndex" dynamicHeight>

    <mat-tab [disabled]="isDisabled">
      <ng-template mat-tab-label>
        <label>Edit</label>
      </ng-template>

      <quill-editor #editorElem
                    [styles]="quillStyles"
                    [modules]="quillConfig"
                    (onContentChanged)="content = $event.html;"
      >
      </quill-editor>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <label>Preview</label>
      </ng-template>

      <div class="ql-editor" [innerHTML]="content | safeHtml"></div>

    </mat-tab>

    <!--This tab is used as a hacky work around so the first tab can be selected.-->
    <mat-tab *ngIf="showBlankTab"></mat-tab>

  </mat-tab-group>

  <div style="margin: 10px 10px -16px 10px;" [style.visibility]="currentImageUploads.size > 0 ? 'visible' : 'hidden'">
    <span class="spinner">
    </span>
    <span class="uploading__message">Uploading images...</span>
  </div>

</div>

