.sidenav {
  width: auto;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #c1e3f2;
  overflow-x: hidden;
  padding: 8px 0;
  margin-top: 10px;
  margin-left: 9px;
  margin-bottom: 20px;
  border-top-left-radius: 30px;
  min-height: 400px;

  animation-duration: 0.6s;
}

.link__padding {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 2px;
}

a {
  white-space: initial;
  padding-left: 25px;
  text-indent: -25px;
}


.dull:link, .dull:visited {
  color: #6b7b81;
}

.bright:link, .bright:visited {
  color: #313434;
}

.dull:hover, .bright:hover {
  color: #c6b51b;
  text-decoration-color: #c6b51b
}


h3 {
  text-align: center;
  text-decoration: underline;
  color: #007200;
  margin-bottom: 25px;
}

#add-manufacturer {
  padding-top: 18px;
  text-decoration: underline;

}

@keyframes show-sidebar {
  from {box-shadow: -1.25px 2px 4px;}
  to {box-shadow: -7.5px 12px 24px #005200;}
}

@keyframes hide-sidebar {
  from {box-shadow: -7.5px 12px 24px #005200;}
  to {box-shadow: -1.25px 2px 4px;}
}
