<form style="margin: 35px 15px;" [formGroup]="capacitorFormGroup"
      (ngSubmit)="onSubmit(capacitorFormGroup)"
      (keydown.enter)="handleEnterKeyPress($event)">

  <!--Errors-->
  <div *ngIf="errorsBackend.length > 0" class="error__submit input">
    <div *ngFor="let error of errorsBackend"><strong>Error: </strong>
      {{(error && (error.message || error.error.message)) || "An unknown error occurred"}}
    </div>
  </div>


  <!--Manufacturer Section-->
  <div *ngIf="!editing" id="manufacturer-section" class="input__section">

    <div class="info__blurb">
      Don't see the <strong>manufacturer</strong> in the list?
      <br>
      <strong><a class="nav__link" [routerLink]="" (click)="gotoAddNewManufacturer()">Add a New Manufacturer</a></strong>

    </div>

    <label class="input__label__major" for="manufacturer">Select manufacturer:</label>
    <select id="manufacturer" class="input" formControlName="companyName"
            [attr.disabled]="loadingManufacturerList ? '' : null"
            (change)="manufacturerMenuChanged($event.target.value)">

      <option class="special__menu__item" selected value>{{noneSelected}}</option>
      <option class="special__menu__item">{{newManufacturerOption}}</option>
      <option *ngFor="let companyName of companyNames$" [value]="companyName">
        {{companyName}}
      </option>

    </select>
    <span [style.visibility]="isNavigatingToCreateManufacturer || loadingManufacturerList ? 'visible' : 'hidden'"
          class="spinner manufacturer__spinner"></span>

    <hr>
  </div>


  <!--Capacitor Type Section-->
  <div id="type-section" class="input__section" formGroupName="type"
       *ngIf="manufacturerIsSelected && !isNavigatingToCreateManufacturer && only !== 'unit' && only !== 'photos'">

    <div style="margin-bottom: 20px">
      <app-image src="../../../assets/aerovox-type.png" link="true" height="100px" style="margin-right: 20px; margin-bottom: 9px">
      </app-image>
      <app-image src="../../../assets/dublier-type.png" link="true" height="120px">
      </app-image>
    </div>

    <div class="info__blurb">
      <ng-container *ngIf="!editing">
        Don't see the <strong>type</strong> in the list?
        <br>
        <strong><a [routerLink]="" class="nav__link" (click)="gotoAddNewType()">Add a new type</a></strong>
      </ng-container>

      <div class="type__info">
        <h3>What is a "Type"?</h3>
        <i>A type is a family of capacitors.</i><br>
        It is a group of capacitors with the same construction
        but different capacitance/voltage ratings. Some have their
        "type" clearly marked, but if it is not, please choose an
        identifier that seems appropriate.
        <app-image src="../../../assets/solar-type.jpg" link="true" width="230px" style="margin-top: 8px">
        </app-image>
      </div>

    </div>

    <div *ngIf="!editing; else editLabel" class="input">
      <label class="input__label__major" for="type">Select Type/Series:</label>
      <select id="type" formControlName="typeNameSelect"
              [attr.disabled]="loadingTypeList ? '' : null"
              (change)="typeMenuChanged($event.target.value)">

        <option class="special__menu__item" selected value>{{noneSelected}}</option>
        <option class="special__menu__item">{{newCapacitorTypeOption}}</option>
        <option *ngFor="let capacitorType of capacitorTypes$" [value]="capacitorType.typeName">
          {{capacitorType.typeName}}
        </option>

      </select>
      <span [style.visibility]="loadingTypeList ? 'visible' : 'hidden'"
            class="spinner manufacturer__spinner"></span>
    </div>
    <ng-template #editLabel>
      <label class="input__label__major">Edit Type / Family:</label>
      <br><br>
    </ng-template>
    <br>

    <div *ngIf="capacitorTypeIsSelected; else whiteSpace" formGroupName="typeContent">
      <div class="input">
        <label class="input__label__minor" for="type-name">Type Name*</label>
        <input id="type-name" size="30" formControlName="typeNameInput" placeholder="e.g. Sealdtite, 4424/E"
               [ngClass]="{ 'is-invalid': typeFields.typeNameInput.errors }">
        <div class="error__msg" *ngIf="typeFields.typeNameInput.errors">
          Please provide the name of the Type
        </div>
      </div>
      <br>

      <div class="input">
        <label class="input__label__minor" for="construction">Construction*</label>
        <select id="construction" formControlName="construction">

          <option class="special__menu__item" selected [value]="noneSelected">{{noneSelected}}</option>
          <option class="special__menu__item" [value]="newConstructionOption">{{newConstructionOption}}</option>
          <option *ngFor="let construction of constructionNames$" [value]="construction">
            {{construction}}
          </option>

        </select>
        <ng-container *ngIf="typeFields.construction.value === newConstructionOption">
          <input style="margin-left: 15px;" id="construction-name" class="" size="15" formControlName="constructionInput"
                 placeholder="e.g. wax-paper"
                 [ngClass]="{ 'is-invalid': noNewConstructionEnteredError }">
        </ng-container>
        <div class="error__msg"
             *ngIf="typeFields.construction.errors || noNewConstructionEnteredError">
          Please select what kind of capacitor it is
        </div>
      </div>
      <br>

      <div style="min-height: 150px">  <!--Add a min-height so the page isn't extended when its expanded-->
        <div id="date-expansion-panel" class="blue-expansion-panel-container">
          <mat-expansion-panel [(expanded)]="yearsAreExpanded" class="input">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Include Years Produced
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div style="all: initial">
              <label class="input__label__minor expandable__label" for="start-year">Start Year</label>
              <input id="start-year" type="text" formControlName="startYear" class="expandable__input" size="10"
                     placeholder="optional"
                     [ngClass]="{ 'is-invalid': typeFields.startYear.errors }">
              <div class="expandable__label error__msg" *ngIf="typeFields.startYear.errors" style="margin-top: 0">
                Year is not valid (YYYY)
              </div>
              <br>

              <label class="input__label__minor expandable__label" for="end-year">End Year</label>
              <input id="end-year" type="text" formControlName="endYear" class="expandable__input" size="10"
                     placeholder="optional" [ngClass]="{ 'is-invalid': typeFields.endYear.errors }">
              <div>
                <div class="expandable__label error__msg" *ngIf="typeFields.endYear.errors" style="margin-top: 0">
                  Year is not valid (YYYY)
                </div>
                <div class="expandable__label error__msg" *ngIf="endYearBeforeStartYearError" style="margin-top: 0">
                  {{typeFields.endYear.value}} is before {{typeFields.startYear.value}}
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </div>
      </div>


      <br><br><br><br><br>
      <div id="description-box">
        <label class="input__label__minor" for="description"><strong>Description</strong></label>
        <br><br>
        <app-input-rich-text id="description"
                             formControlName="description"
                             [dirName]="formFields.companyName.value"
                             (filesUploading)="currentImageUploads = $event"
        ></app-input-rich-text>
        <br>
      </div>
    </div>
    <ng-template #whiteSpace>
      <div style="min-height: 430px"></div>
    </ng-template>

    <hr>
  </div>


  <!--Capacitor Unit Section-->
  <div #unitElem id="capacitor-section" class="input__section" formGroupName="unit"
       *ngIf="manufacturerIsSelected && capacitorTypeIsSelected && !isNavigatingToCreateManufacturer && only !== 'type'">

    <label class="input__label__major">{{editing ? 'Edit Capacitor:' : 'Add Capacitor:'}}</label>
    <br>
    <br>

    <div class="input">
      <label class="input__label__minor" for="capacitance">Capacitance*</label>
      <app-input-capacitance formControlName="capacitance" id="capacitance"
                             [ngClass]="{ 'is-invalid': unitFields.capacitance.errors }"
      ></app-input-capacitance>
      <div class="error__msg" *ngIf="unitFields.capacitance.errors">
        Please enter a capacitance
      </div>
    </div>

    <div class="input">
      <label class="input__label__minor" for="voltage">Voltage</label>
      <input id="voltage" type="text" formControlName="voltage" size="6" placeholder="optional"
             [ngClass]="{ 'is-invalid': unitFields.voltage.errors }"><span id="volt-unit">V</span>
      <div class="error__msg" *ngIf="unitFields.voltage.errors">
        Voltage must be a whole number
      </div>
    </div>
    <br>

    <div id="dimensions-expansion-panel" class="blue-expansion-panel-container">
      <mat-expansion-panel [(expanded)]="dimensionsAreExpanded" class="input">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Include Dimensions
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div id="dimension-grid" style="font-family: initial">

          <span id="length-grid" formGroupName="length">
            <label class="input__label__minor expandable__label" for="length">Length (L)</label>
            <input id="length" type="text" formControlName="lengthInput" class="expandable__input" size="10"
                   placeholder="optional" [ngClass]="{ 'is-invalid': unitFields.length.controls.lengthInput.errors }">
            <select id="length-unit" formControlName="lengthUnit">
              <option *ngFor="let unit of allMeasurementUnits" [ngValue]="unit">{{unit}}</option>
            </select>
            <label class="error__msg" *ngIf="unitFields.length.controls.lengthInput.hasError('maxlength')">
              {{tooLongMeasurementMsg}}
            </label>
            <br><label class="error__msg"
                       [style.visibility]="unitFields.length.controls.lengthInput.hasError('pattern') ? 'visible' : 'hidden'">
              {{invalidMeasurementMsg}}
            </label>
          </span>

          <img id="tubular-cap-img" class="dimension__img" src="../../../assets/tubular-dimensions.svg">

          <span id="diameter-grid" formGroupName="diameter">
            <label class="input__label__minor expandable__label" for="diameter">Diameter (D)</label>
            <input id="diameter" type="text" formControlName="diameterInput" class="expandable__input" size="10"
                   placeholder="optional" [ngClass]="{ 'is-invalid': unitFields.diameter.controls.diameterInput.errors }">
            <select id="diameter-unit" formControlName="diameterUnit">
              <option *ngFor="let unit of allMeasurementUnits" [ngValue]="unit">{{unit}}</option>
            </select>
            <label class="error__msg" *ngIf="unitFields.diameter.controls.diameterInput.hasError('maxlength')">
              {{tooLongMeasurementMsg}}
            </label>
            <br><label class="error__msg"
                       [style.visibility]="unitFields.diameter.controls.diameterInput.hasError('pattern') ? 'visible' : 'hidden'">
              {{invalidMeasurementMsg}}
            </label>
          </span>

          <span id="thickness-grid" formGroupName="thickness">
            <label class="input__label__minor expandable__label" for="length">Thickness (T)</label>
            <input id="thickness" type="text" formControlName="thicknessInput" class="expandable__input" size="10"
                   placeholder="optional" [ngClass]="{ 'is-invalid': unitFields.thickness.controls.thicknessInput.errors }">
            <select id="thickness-unit" formControlName="thicknessUnit">
              <option *ngFor="let unit of allMeasurementUnits" [ngValue]="unit">{{unit}}</option>
            </select>
            <label class="error__msg" *ngIf="unitFields.thickness.controls.thicknessInput.hasError('maxlength')">
              {{tooLongMeasurementMsg}}
            </label>
            <br><label class="error__msg"
                       [style.visibility]="unitFields.thickness.controls.thicknessInput.hasError('pattern') ? 'visible' : 'hidden'">
              {{invalidMeasurementMsg}}
            </label>
          </span>

          <img id="flat-cap-img" class="dimension__img" src="../../../assets/flat-dimensions.svg">

          <span id="mounting-hole-diameter-grid" formGroupName="mountingHoleDiameter">
            <label class="input__label__minor expandable__label" for="mounting-hole-diameter">Mounting Hole<br>Diameter (M)</label>
            <input id="mounting-hole-diameter" type="text" formControlName="mountingHoleDiameterInput" class="expandable__input" size="10"
                   placeholder="optional" [ngClass]="{ 'is-invalid': unitFields.mountingHoleDiameter.controls.mountingHoleDiameterInput.errors }">
            <select id="mounting-hole-diameter-unit" formControlName="mountingHoleDiameterUnit">
              <option *ngFor="let unit of allMeasurementUnits" [ngValue]="unit">{{unit}}</option>
            </select>
            <label class="error__msg" *ngIf="unitFields.mountingHoleDiameter.controls.mountingHoleDiameterInput.hasError('maxlength')">
              {{tooLongMeasurementMsg}}
            </label>
            <br><label class="error__msg"
                       [style.visibility]="
                       unitFields.mountingHoleDiameter.controls.mountingHoleDiameterInput.hasError('pattern') ? 'visible' : 'hidden'">
              {{invalidMeasurementMsg}}
            </label>
          </span>

          <img id="can-cap-img" class="dimension__img" src="../../../assets/can-dimensions.svg">

        </div>

      </mat-expansion-panel>
    </div>

    <div class="input">
      <label class="input__label__minor" for="notes">Notes</label>
      <br>
      <textarea id="notes" rows="4" cols="35" formControlName="notes" placeholder="optional"></textarea>
    </div>


    <label class="input__label__major" for="input-photo">Add Photos:</label>
    <br>
    <br>
    <div class="input">
      <app-input-photo id="input-photo"
                       [dirPathArray]="[
                          'capacitor-photos',
                          (formFields.companyName.value || editCompanyName).toLowerCase(),
                          (typeFields.typeNameInput.value || '').toLowerCase()
                       ]"
                       ngDefaultControl
                       formControlName="photos">
      </app-input-photo>
    </div>


    <hr>
  </div>


  <!--ReCaptcha Component and Submit Section-->
  <span class="captcha">
    <ngx-recaptcha2
      #captchaElem
      [siteKey]="reCaptchaSiteKey"
      [useGlobalDomain]="false"
      (success)="restService.handleCaptchaSuccess($event, capacitorFormGroup, captchaElem)"
      size="normal"
      hl="en"
      formControlName="captcha"
    >
    </ngx-recaptcha2>
  </span>

  <div class="submit" #submitDiv>
    <button class="button" (click)="location.back()">Back</button>
    <button class="button" [disabled]="capacitorFormGroup.invalid || this.currentImageUploads.size > 0 || submitting"
            type="submit">Submit</button>
    <!--Spinner-->
    <div [style.visibility]="submitting ? 'visible' : 'hidden'" class="spinner" style="margin-left: 14px"></div>
  </div>

  <span class="captcha__error__msg error__msg" *ngIf="formFields.captcha.hasError('rejectedCaptcha')">
      CAPTCHA check did not pass
  </span>

  <span class="captcha__error__msg error__msg" *ngIf="formFields.captcha.hasError('noResponse')">
      Error in CAPTCHA check verification
  </span>


</form>
