.info__blurb {
  width: 300px;
  float: right;
  font-size: 15px;
  margin-right: 15%;
  display:block;
  position: absolute;
  left: 750px;
}

.type__info {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px 20px;
  background-color: rgb(202, 228, 239);
  border-radius: 10px;
  text-align: center;
}

.type__info h3 {
  text-decoration: underline;
  margin: 0 0;
}

.input__section {
  float: left;
  width: 100%;
}

.input {
  margin-bottom: 28px;
}

.input__label__major {
  font-size: 17px;
  margin-right: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.input__label__minor {
  font-size: 16px;
  margin-right: 18px;
}

#date-expansion-panel {
  width: 280px;
}

.expandable__input {
  margin-bottom: 5px;
  margin-top: 5px;
}

.expandable__label {
  margin-left: 15px;
  margin-right: 10px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  background-color: #5a5a5a;
  height: 1.5px;
  margin-top: 15px;
  margin-bottom: 45px;
  margin-left: -25px;
}

.manufacturer__spinner {
  margin-left: 18px;
}

.special__menu__item {
  font-weight: bold;
}

.captcha {
}

.submit {
  display: inline-flex;
  margin-top: 100px;
}

#volt-unit {
  margin-left: 5px;
  font-size: 14px;
}


/* Dimension Expansion Panel */

#dimensions-expansion-panel {
  width: 620px;
}

#dimension-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  align-items: center;

  text-indent: -15px;
  padding-left: 15px;
}

#length-grid {
  grid-column: 1;
  grid-row: 1;
}

#tubular-cap-img {
  grid-column: 2;
  grid-row: 1 / 3;
  justify-self: end;

  height: 90px;
}

#diameter-grid {
  grid-column: 1;
  grid-row: 2;
}

#thickness-grid {
  grid-column: 1;
  grid-row: 3;
}

#flat-cap-img {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;

  height: 110px;
}

#mounting-hole-diameter-grid {
  grid-column: 1;
  grid-row: 4;
}

#can-cap-img {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;

  height: 110px;
}

.dimension__img {
  margin: 10px 0 20px 0
}
