
.content {
  min-width: 96%;
  display: inline-grid;
  grid-template-columns: auto 4% 160px 0%;
  grid-template-rows: 5% auto auto auto 5%;
}

.edit__button {
  float: right;
  margin-top: 50px;
  margin-right: 2%;
}

.quill__output {
  overflow: hidden;
}

#manufacturer-box {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

#all-types-box {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: #c1e3f2;

  font-family: serif;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

#all-types-box h3 {
  margin-bottom: 15px;
  margin-top: 5px;
}

#all-types-box a {
  line-height: 18px;
  text-align: center;
  overflow-wrap: normal;
  word-wrap: break-word;
}

#add-capacitor {
  padding-top: 30px;
  text-decoration: underline;
}

#loading {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

  text-align: left;
}
