<div class="content">


  <div id="all-types-box" class="minor__shadow">
    <h3 class="green_title">Capacitor Types</h3>

    <ng-container *ngIf="manufacturer$; else spinner">
      <div *ngFor="let typeName of manufacturer$.typeNames;">
        <a class="grey__link" [title]="typeName"
           [appRouterLink]="['/capacitor', 'view', companyName, typeName]">
          {{typeName}}
        </a>
      </div>
    </ng-container>
    <ng-template #spinner>
      <div style="display: flex; justify-content: center; padding-top: 10px"><div class="spinner"></div></div>
    </ng-template>
    <div>
      <a id="add-capacitor" class="grey__link"
         [appRouterLink]="['/capacitor', 'create', companyName]">
        + Add Capacitor
      </a>
    </div>

  </div>


  <div id="manufacturer-box" *ngIf="manufacturer$; else loading">

    <div class="edit__button">
      <a href style="font-size: 16px"
         [appRouterLink]="['/manufacturer', 'edit', manufacturer$.companyName]">
        <img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Page
      </a>
    </div>

    <div *ngIf="manufacturer$.companyName">
      <h1>{{manufacturer$.companyName}}</h1>
    </div>

    <div *ngIf="manufacturer$.country">
      <strong>Country: </strong>{{manufacturer$.country}}
    </div>

    <div *ngIf="manufacturer$.openYear">
      <strong>Opened: </strong>{{manufacturer$.openYear}}
    </div>

    <div *ngIf="manufacturer$.closeYear">
      <strong>Closed: </strong>{{manufacturer$.closeYear}}
    </div>


    <app-capacitor-type-panel
      [capacitorTypesObservable]="capacitorTypesSearchResponseObservable"
      [companyName]="companyName">
    </app-capacitor-type-panel>

    <br>
    <div *ngIf="manufacturer$.summary">
      <h2>History</h2>
      <div class="ql-editor quill__output" [innerHTML]="manufacturer$.summary | safeHtml"></div>
    </div>

  </div>

  <ng-template #loading>
    <h3 id="loading" class="loading">Loading Page...</h3>
  </ng-template>


</div>
