

<div id="breadcrumb-content" class="content" [style.visibility]="links.length > 0 ? 'visible' : 'hidden'">

  <span *ngFor="let link of links; let i = index;">
    <a class="grey__link"
      [appRouterLink]="link.url"
      [queryParams]="link.params ? link.params.queryParams ? link.params.queryParams : link.params : {}">{{link.name}}</a>
    <span class="arrow">{{i < links.length - 1 ? ' > ' : ''}}</span>
  </span>

</div>
