<div class="content">


  <ng-container *ngIf="capacitorUnit; else loading">



    <div id="image-box">
      <a id="edit-photos"
         [routerLink]="['/capacitor', 'edit', companyName, typeName, capacitorUnit.value]"
         [queryParams]="{only: 'photos'}">
        <img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Photos
      </a>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>


    <div id="type-box" class="info__box__right minor__shadow">
      <a *ngIf="capacitorType; else typeSpinner"
         class="edit__button"
         [routerLink]="['/capacitor', 'edit', companyName, typeName, value]"
         [queryParams]="{only: 'type'}"><img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Type</a>
      <ng-template #typeSpinner><span class="spinner" style="float: right; margin-top: 5px"></span></ng-template>

      <span style="font-size: 22px">Type: </span>

      <select *ngIf="capacitorTypeNames" id="type-dropdown"
              [ngStyle]="{'max-width': capacitorType?.typeName.length < 20 ? Math.max(capacitorType?.typeName.length * 26, 45) + 'px' : '95%'}"
              (change)="dynamicRouter.navigate(['/capacitor', 'view', companyName, $event.target.value])">

        <option *ngFor="let typeNameDropdown of capacitorTypeNames.sort(caseInsensitiveCompare)"
                [value]="typeNameDropdown" [selected]="typeNameDropdown.toLowerCase() === typeName.toLowerCase()">

          <strong class="type-name">{{typeNameDropdown}}</strong>

        </option>

      </select><br>

      Made by: <a [appRouterLink]="['/manufacturer', 'view', capacitorType.companyName]">
      {{capacitorType && capacitorType.companyName}}
      </a><br>

      <ng-container *ngIf="capacitorTypeDescriptionPlainText">
        Description:
        <div class="block__description abbreviated__block">
          {{capacitorTypeDescriptionPlainText}}
          <a class="read__more" [routerLink]="" (click)="scrollToElement(fullDescription)">Read More</a>
        </div>
      </ng-container>

    </div>


    <div id="unit-box" class="info__box__right minor__shadow">
      <a class="edit__button"
         [routerLink]="['/capacitor', 'edit', companyName, typeName, capacitorUnit.value]"
         [queryParams]="{only: 'unit'}"
      ><img class="edit__icon" src="../../../assets/edit.svg" alt="">Edit Value</a>
      <span *ngIf="!capacitorUnit" class="spinner" style="float: right; margin-top: 5px"></span>

      Capacitance:
      <span style="white-space: nowrap">
        {{capacitorUnit && formattedCapacitance(capacitorUnit.capacitance, true)}}
      </span><br>

      <ng-container *ngIf="capacitorUnit && capacitorUnit.voltage">
        Voltage: <strong>{{capacitorUnit.voltage}}V</strong><br>
      </ng-container>

      <ng-container *ngIf="capacitorUnit?.length || capacitorUnit?.diameter">
        Dimensions: <span style="display: inline-block">{{capacitorUnit.getFormattedLengthDiameter()}}</span>
        <br>
      </ng-container>

      <ng-container *ngIf="capacitorUnit?.thickness">
        Thickness: <span style="display: inline-block">{{capacitorUnit.thickness.toString()}}</span>
        <br>
      </ng-container>

      <ng-container *ngIf="capacitorUnit?.mountingHoleDiameter">
        Mounting Hole Diameter: <span style="display: inline-block">{{capacitorUnit.mountingHoleDiameter.toString()}}</span>
        <br>
      </ng-container>



      <ng-container *ngIf="capacitorUnit && capacitorUnit.notes">
        Notes:
        <div class="block__description">{{capacitorUnit.notes}}</div>
      </ng-container>


    </div>


    <div id="similar-units-box" class="info__box__right minor__shadow">
      <strong><label for="similar-menu" title="These are the other capacitors in this type/family">
        Similar Capacitors
      </label></strong><br>

      <div id="similar-menu">
        <mat-selection-list #similarMenu [multiple]="false"
                            (keydown.arrowup)="similarMenuMove(+1)"
                            (keydown.arrowdown)="similarMenuMove(-1)"
                            [(ngModel)]="similarMenuSelectedOptions"
                            (selectionChange)="similarMenuChanged($event.options[0]?.value)">
          <mat-list-option *ngFor="let similarUnit of capacitorUnits" [value]="similarUnit.value"
                           [selected]="capacitorUnit.value === similarUnit.value"
                           (dblclick)="router.navigate(['/capacitor', 'edit', similarUnit.companyName,
                           similarUnit.typeName, similarUnit.value], {queryParams: {only: 'unit'}})">

            <div class="similar__unit__option__contents">
              <img class="similar-thumb" [src]="similarUnit.photos[0] ? similarUnit.getFirstPhoto().getSmallestThumbnail().url : '../../../assets/no-photo-tan.png'"
                   alt="">
              <span class="similar-value">{{formatSimilarCapacitor(similarUnit)}}</span>
            </div>

          </mat-list-option>
        </mat-selection-list>
      </div>

      <strong><a style="font-size: 20px" class="nav__link"
                 [appRouterLink]="['/capacitor', 'create', companyName, typeName]">
        + Add a Capacitor
      </a></strong>
    </div>

    <div id="type-full-component" #fullDescription>
      <app-full-type [capacitorType]="capacitorType" [capacitorUnitValue]="value">
      </app-full-type>
    </div>

  </ng-container>

  <ng-template #loading>
    <h3 class="loading">Loading Page...</h3>
  </ng-template>

</div>
