
/*ngx-gallery Style Hacks*/
ngx-gallery /deep/ .ngx-gallery-icon {
  color: #ECF4F8;
}

ngx-gallery /deep/ .ngx-gallery-arrow {
  color: #ECF4F8;
  background-color: black;
  border-radius: 50%;
  font-size: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow-right {
transform: scale(0.75);
}

ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow-left {
transform: scale(0.75);
}




.content {
  min-width: 96%;
  display: inline-grid;
  grid-template-columns: 60% 5% 35% 0;
  grid-template-rows: 5% auto auto auto auto auto 12px auto 5%;
  margin-top: 10px;
}

#image-box {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 6;

  position: relative;
  background-color: #d0d0d0;
  padding: 45px 20px 20px 20px;
  border-radius: 10px;
  height: 600px;
}

#type-box {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: start;
  line-height: 35px;

  background: #c1e3f2;
}

#type-box strong {
  font-weight: bolder;
  text-decoration: underline;
}

.type-name {
  font-size: larger;
}

.block__description {
  margin-left: 10px;

  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */

  font-family: "Courier New", serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.06em;
  line-height: 18px;
}

.abbreviated__block {
  position: relative;
  height: 3.75em; /* exactly three lines */

  overflow: hidden;
}

.abbreviated__block:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 95%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(202, 228, 239, 0), rgb(193, 227, 242) 60%);
}

.read__more {
  position: absolute;
  right:5px;
  top: 2.4em;
  z-index: 100;
  font-weight: bold;
}


#unit-box {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: start;

  min-height: 130px;

  background-color: #a8c5a8;
}

#similar-units-box {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: end;
  align-self: start;

  background-color: #ccb48c;
  text-align: center;
}

#similar-menu {
  overflow: scroll;
  background-color: #eeeeee;
  margin: 15px;
  min-height: 190px;
  max-height: 375px;

  border: 3px inset rgba(113, 67, 0, 0.4);
}

::ng-deep .mat-list-option {
  height: 100px !important;
}

.similar__unit__option__contents {
  display: grid;
  grid-template-columns: 95px auto;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.similar-thumb {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;

  max-width: 90px;
  max-height: 90px;

  border: 2px solid rgba(134, 60, 255, 0.8);
}

.similar-value {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
  justify-self: start;

  font-family: "Courier New", serif;
  font-size: 18px;
  font-weight: bold;
}

.loading {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

#type-dropdown {
  -webkit-appearance: none;
  border-radius: 10px;
  border-style: outset;
  border-left-color: #b2b2b2;
  border-top-color: #afafaf;
  border-right-color: #9c9c9c;
  border-bottom-color: #858585;

  height: 32px;
  font-size: 18px;
  font-family: "Courier New", serif;
  max-width: 95%;
  font-weight: bold;
  text-decoration: underline;
  margin-left: -8px;
  margin-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  background-color: #DBE5E9;
  cursor: pointer;
}

#edit-photos {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  font-family: "Courier New", serif;
}

#type-full-component {
  grid-row: 8;
}

